body {
    background: linear-gradient(to bottom, rgba(6, 86, 89, 0.7), rgba(0, 0, 0, 0.7)), url('/home/arshithak/Desktop/Brocamp/Week 22/Lavoro/lavoro/frontend/public/4565.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .container, .container-lg, .container-md, .container-sm, .container-xl {
    margin-top: 25px;
    max-width: 420px !important;
}

.hrLink{
  text-align: end;
  padding: 2px;
}


.user-profile-image {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-right: 10px; 
 

}

.userProfileDiv{
  display: flex;
  justify-content: center;
}
.heading{
  color: white;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}


.formCard{
    
    background:#02494b9a !important; 
   
}


.loginButton{
  background: #8D8989 !important;
  border-radius: 90px !important;
  width: 100px;
  transition: background-color 0.3s;
 

}


.loginButton:hover {
  background: linear-gradient(to bottom, #268b8f, #5c5b5b) !important;
}



.forgotDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.forgotLink{
  padding-left: 70px;
}

