.blockUnblockbtn{
    width: 50%;
}

.tableMainDiv{
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.Userheading{
    padding-top:  30px;
    padding-left: 30px;
    color: white;
}