/* .searchBar {
    display: flex;
    align-items: center; 
  }
  

  .searchBar button {
    margin-left: 10px; 
  } */

.maindiv{
  height: 100vh;
}
  .homeHeadDiv{
    padding-top: 55px;
    color: white !important;
    text-align: center;
    width: 100%;
  }
/* card style */
  .cardMainDivs{
    display: flex;
    padding: 50px;
  }

  .cardTitle{
    font-size:medium !important;
    text-align: center;
    text-decoration: none !important;
   
  }
  .TitleLink{
    text-decoration: none !important;
    color: #075658;
  }

  .cards{
 margin-left: 15px;
 margin-right: 15px;
 margin-top: 10px;
  }


  /* Job list div start */

  .jobListDivs{
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: black;
   
  }

  .listdiv{
    padding: 20px;
    color: white;
  }
.viewMore{
  text-align: end;

}
  .viewMoreLink{
    color: white;
    text-decoration: none;
  }

