/* .searchBar {
    display: flex;
    align-items: center; 
  }
  

  .searchBar button {
    margin-left: 10px; 
  } */


  .homeHeadDiv{
    padding-top: 55px;
    color: white !important;
    text-align: center;
    width: 100%;
  }
