
.firstDiv{
    height: 100vh;
}
.headings{
    padding-top: 40px;
    text-align: center;
}

.mainhead{
    color: white;
}
.subhead{
    color: white;
    padding-top: 8px;
}

.searchbar{
   padding-top: 50px;
   padding-left: 250px;
   padding-right: 250px;
}

.input{
  padding: 15px !important;
  margin: 0px !important;
}

.button{
    color: white !important;
    padding: 15px !important;
    border-radius: 0 8px 8px 0 !important;
    background-color: rgb(25, 187, 25) !important;
}

.jobListDiv{
    background-color: black;
}



/* side bar */
.filterhead{
    padding-left: 25px;
    padding-top: 25px;
}

.contentDiv{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.maindiv{
    padding: 15px;
}

.locationInput{
    padding: 5px;
    border-radius: 10px;
}

