
.firstDives{
    padding-top: 60px;
    height: 100vh;
}
.headings{
    padding-top: 10px;
    text-align: center;
}

.mainhead{
    color: white;
}
.subhead{
    color: white;
    padding-top: 8px;
}

.searchbar{
   padding-top: 50px;
   padding-left: 250px;
   padding-right: 250px;
}

.input{
  padding: 15px !important;
  margin: 0px !important;
}

.button{
    color: white !important;
    padding: 15px !important;
    border-radius: 0 8px 8px 0 !important;
    background-color: rgb(25, 187, 25) !important;
}

.jobListDiv{
    background-color: black;
}



/* side bar */
.filterhead{
    padding-left: 25px;
    padding-top: 25px;
}

.filterBtn{
    background: linear-gradient(to bottom, #268b8f,#5c5b5b); 
    width: 100px;
    color: white;
   font-weight: bold;
   height: 35px;
   border: 0px;
   /* border-radius: 20px; */


}

.jobtype{
    padding-left: 25px;
}
.jobDiv{
display: flex;
padding-bottom: 10px;
padding-right: 25px ;
justify-content: space-between ;
}
.contentDiv{
    display: flex;
  
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.maindiv{
    padding: 15px;
}

.locationInput{
    font-size: 15px !important;
    padding: 8px !important;

    line-height: 0.5 !important;
}

.saveIcon{
    height: 23px;
    width: 23px;
   
}

.icons{
    color: #054a4d;
    width: 100%; /* Make the icon width 100% of the parent div */
    height: 100%;
}


.display-flex {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line if they don't fit in the container */
    justify-content: space-between; /* Distribute the cards evenly with space between them */
    margin: 0 -15px; /* Add negative margin to handle spacing between cards */
  }
  
  .cardMain {
    flex: 0 0 calc(33.33% - 30px); /* Adjust the width of each card depending on how many cards you want in a row */
    margin: 0 15px; /* Add margin to space the cards */
  }

  .applyfilterbtn{
    padding-top: 15px;
    padding-right: 25px !important;
  }

.filter{
    display: flex;
  
}

  .removefilter{
   
    padding-top: 15px;
    padding-left: 5px !important;
  }

  .removefilterBtn{
    background: linear-gradient(to bottom, #ffffff,#525050); 
   
    color: rgb(0, 0, 0);

   height: 35px;
   border: 0px;

   /* border-radius: 20px; */
   
  
  }


  /* pagination */

  
  .pagination-container.right {
    display: flex;
    justify-content: flex-end;
  }